<h1>Planning Center Tech Interview Prep</h1>

<p>
  This simple app is meant to make sure that you have what we need
  in order to make the tech interview portion go smoothly. If everything
  is working, you should see both "Rails works!" and "React works!"
  rendered below.
</p>

<h2>Rails works!</h2>

<%= react_component 'Index' %>
